header {
    background-color: white;
}

footer {
    display: block;
    position: absolute;
    background-color: transparent; /*edit*/
    text-align: center;
    padding: 1rem 1rem; /*edit*/
    color: #2b7a78;
    width: 100%;
}