{% extends "layout/base.html" %}
{% load staticfiles %}
{% load static %}
{% block content %}
    <div class="container" id="main-area-container">
        <div class="col-md-4 col-xs-6 col-centered" id="company-logo-area">
            <div id="company-logo-div-area"><img class="img-circle img-responsive img-center"
                                                 src="{{ company_logo }}" id="company-logo"></div>
        </div>
        <div class="col-md-8 col-xs-12" id="main-up-area">
            <h1 id="company-name">{{ company_name }}</h1>
            <div id="main-info-area">
                <p id="company-industries" class="text-left">{{ company_industries }}</p>
                <div>
                    <button type="button" class="btn btn-labeled btn-info">
                        <span class="btn-label"><i class="fa fa-users" aria-hidden="true"></i></span> See Forum
                    </button>
                    <button type="button" class="btn btn-labeled btn-info">
                        <span class="btn-label"><i class="fa fa-graduation-cap" aria-hidden="true"></i></span> Find
                        College Student
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="container" id="submain-area-container">
        <div class="col-md-4 col-xs-6" id="sidebar1-column">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="text-center panel-title">Company Info</h3></div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <h3>Website </h3>
                            <p><a href="{{ company_website }}">{{ company_name }}</a></p>
                        </li>
                        <li class="list-group-item">
                            <h3>Headquarters </h3>
                            <p>{{ company_headquarters }}</p>
                        </li>
                        <li class="list-group-item">
                            <h3>Year Founded</h3>
                            <p>{{ company_year_founded }} </p>
                        </li>
                        <li class="list-group-item">
                            <h3>Company Type</h3>
                            <p>{{ company_type }} </p>
                        </li>
                        <li class="list-group-item">
                            <h3>Company Size</h3>
                            <p>{{ company_size }} </p>
                        </li>
                        <li class="list-group-item">
                            <h3>Specialities </h3>
                            <p>{{ company_specialties }}</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-xs-12" id="sidebar2-column">
            <div class="jumbotron jumbotron-billboard">
                <div class="img"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <h2>Company Description</h2>
                            <div>
                                <p id="company-description">{{ company_description }} </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}