{% extends "layout/base.html" %} {% load staticfiles %} {% load static %} {% block content %}
<!-- sign in with linkedin button -->
<script type="IN/Login"></script>

<script type="text/javascript" src="//platform.linkedin.com/in.js">
    api_key: 78z1y23eusl2sd
    authorize: true
    onLoad: onLinkedInLoad
    scope: r_basicprofile r_emailaddress rw_company_admin
</script>


<script type="text/javascript">

    // Setup an event listener to make an API call once auth is complete
    function onLinkedInLoad() {
        IN.Event.on(IN, "auth", getCompanyProfileData);
    }


    function getCompanyProfileData() {
        var cpnyID = "13597930"
        IN.API.Raw("/companies/" + cpnyID + ":(id,name,ticker,description,company-type,founded-year,locations:(address),website-url,square-logo-url,specialties,industries,employee-count-range,logo-url)?format=json").method("GET").result(displayProfileData).error(onError);
    }


    function displayProfileData(data) {
        postData(data)
        console.log("INI DATA KITA AKHIRNYA");
        console.log(data);

        console.log(data.name);
        console.log("=================================");

        console.log("ini company type");
        console.log(data.companyType);

        console.log("=================================");

        console.log("Deskripsi");
        console.log(data.description);

        console.log("=================================");

        console.log("Ditemukan pada");
        console.log(data.foundedYear);

        console.log("=================================");

        console.log("Lokasi Perusahaan");
        //   console.log(data.locations.values[0]);
        console.log("Kota : " + data.locations.values[0].address.city);
        console.log("Kode Pos : " + data.locations.values[0].postalCode);
        console.log("Jalan : " + data.locations.values[0].street1);

        console.log("=================================");

        console.log("Konekin Specialties : ");
        console.log(data.specialties.values[0]);
        console.log(data.specialties.values[1]);
        console.log(data.specialties.values[2]);

        console.log("=================================");

        console.log("URL Konekin Logo :");
        console.log(data.squareLogoUrl);

        console.log("=================================");

        console.log("URL Konekin :");
        console.log(data.websiteUrl);

        console.log("==================================");

        console.log("Industries: ");
        console.log(data.industries.values[0].name);
    }

    // Handle the successful return from the API call
    function onSuccess(data) {
        console.log("eheheheh");
        console.log(data);
    }



    // Handle an error response from the API call
    function onError(error) {
        console.log(error);
    }

    // Use the API call wrapper to share content on LinkedIn
    function shareContent() {

        // Build the JSON payload containing the content to be shared
        var payload = {
            "comment": "Check out developer.linkedin.com! http://linkd.in/1FC2PyG",
            "visibility": {
                "code": "anyone"
            }
        };

        var cpnyID = 13597930;

        IN.API.Raw("/companies/" + cpnyID + "/shares?format=json")
            .method("POST")
            .body(JSON.stringify(payload))
            .result(onSuccess)
            .error(onError);
    }

</script>

<script>
    var postData = function (data) {
        $.ajax({
            method: "POST",
            url: '{% url "company_login:addCompanyData" %}',
            data: { data },
            success: function (data) {
                id = data['id'];
                window.open('/company/profile/' + id + '/', '_self');
                // window.open('https://konekin-enterprise.herokuapp.com/company/profile/' + id)
                // window.location.replace('localhost:8000/company/profile/' + id);
                console.log("BERHASIL");
        

            },
        })
    };
</script>


<!-- display profile info -->
<div id="profileData" style="display: none;">
    <p>
        <a href="javascript:void(0);" onclick="logout()">Logout</a>
    </p>
    <div id="picture"></div>
    <div class="info">
        <p id="name"></p>
        <p id="intro"></p>
        <p id="email"></p>
        <p id="location"></p>
        <p id="link"></p>
    </div>
</div>{% endblock %}